<div class="swiper-container{% if show_description %}-description{% endif %}">
  <div class="swiper-wrapper">
    {% for image in images %}
      <div class="swiper-slide">
        <img
          class="carousel{% if show_description %}-description{% endif %}-image"
          data-src="{{ image.url }}"
          alt="Image {{ forloop.counter }}"
        >
        {% if show_description %}
          <div class="carousel-description">
            <h2>{{ image.name }}</h2>
            <p>{{ image.description }}</p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
