{% load static %}
<footer>
  <div>
    <img alt="Footer Image" src="{% static 'images/footer.webp' %}"/>
  </div>
  <div>📌 Mapaventura - Mapa Sapzurro & Capurganá 2025 &#9474; 📍 Primera edición – Turismo & Conservación</div>

  <div>
    <a href= "mailto:mapasapzurro@gmail.com">mapasapzurro@gmail.com</a>
    <a href= "tel:+573206865023">+57 320 686 5023</a>
    <a target="_blank" href="https://www.instagram.com/mapadarien"/>
    <a target="_blank" href="geo:8.6503651,-77.3654104">📍 Ubicación: Sapzurro & Capurganá, Chocó</a>
    <a target="_blank" href="geo:37.7749,-122.4194">Open Location</a>
  </div>
</footer>
