{% load static %}
<footer>
  <div class="footer-image-container">
    <img class="footer-image" alt="Footer Image" src="{% static 'images/footer.webp' %}"/>
  </div>
  <h2>📌 Mapaventura - Mapa Sapzurro & Capurganá 2025 &#9474; 📍 Primera edición – Turismo & Conservación</h2>
  <div class="footer-details">
    <h2><a href= "mailto:mapasapzurro@gmail.com">mapasapzurro@gmail.com</a></h2>
    <h2><a href= "tel:+573206865023">+57 320 686 5023</a></h2>
    <h2><a target="_blank" href="https://www.instagram.com/mapadarien"/>@mapadarien</a></h2>
    <h2><a target="_blank" href="https://maps.app.goo.gl/NAEKPByaK6cDrCET7">📍 Ubicación: Sapzurro & Capurganá, Chocó</a></h2>
  </div>
</footer>
