{% extends "base.html" %}
{% load static core_templatetags %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper/swiper-bundle.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/shared/carousel.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

  <section class="carousel-section">
    {% get_carousel "Home" %}
  </section>

  <section id="map-section">
    <h1>Mapa Sapzurro 2025 | Primera Edición</h1>
    <h2>🌿 Explora, conoce y cuida el Darién Chocoano 🌿</h2>
    <h3>Este mapa no solo es una guía, es también una herramienta de conexión entre viajeros y la comunidad local. Aquí encontrarás rutas, playas, senderos, negocios y experiencias únicas que te permitirán explorar este paraíso de manera consciente.</h3>
    <div class="map-image-wrapper">
      <img src="{% static 'map/map_preview.webp' %}" alt="Vista previa del mapa" class="map-image" loading="lazy">
    </div>
    <h4>Toca y conoce más sobre nuestra oferta turística</h4>
    <a href="/map">Explora el mapa interactivo</a>
  </section>
  <section id="environment-section">
    <h1>Medio Ambiente</h1>
  </section>
  <section id="places-section">
    <h1>Lugares Imperdibles</h1>
  </section>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/swiper/swiper-bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/service-worker.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/register-sw.js' %}"></script>
{% endblock %}
