{% extends "base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
  <section style="position: relative;">
    <div id="map"></div>
    <!-- Legend Toggle Button -->
    <div id="legend-toggle" class="leaflet-bar custom-control">
      Show Legend
    </div>
    <!-- Legend Container -->
    <div id="legend" class="legend-box">
      <h1>Locations</h1>
      <h3>El turismo no es solo una  actividad de consumo. Viajar implica una responsabilidad  con este territorio al que vienes.</h3>
      <h3>Lleva tu basura, dona a una estrategia ambiental para la región escaneando  el QR de Darien Verde Azul. Deja cada lugar mejor de como lo encontraste.</h3>
      <h3><strong>Principales puntos de interes</strong></h3>
      <ul id="legend-list"></ul>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="{% static "js/map/setup.js" %}"></script>
{% endblock %}
