footer {
  width: 100%;
  background-color: var(--menu-toggle-foreground);
  color: var(--menu-toggle-background);
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 999;
}

footer div {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  z-index: 999;
}

footer img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 130px;
  z-index: 999;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 376px) {
  footer img {
    height: 87px;
  }
}

@media (min-width: 377px) and (max-width: 768px) {
  footer img {
    height: 80px;
  }
}
