footer {
  width: 100vw;
  background-color: var(--menu-toggle-foreground);
  color: var(--menu-toggle-background);
  display: flex;
  justify-content: center;
  align-content: center;
}

footer div {
  height: 100px;
  width: 100%;
  display: flex;
  /* overflow-y: hidden; */
}

footer img {
}
