footer {
  position: relative;
  display: flex;
  width: 100%;
  background-color: var(--menu-toggle-foreground);
  color: var(--menu-toggle-background);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.footer-image-container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 999;
}

.footer-image {
  height: 130px;
  z-index: 999;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 376px) {
  .footer-image {
    height: 87px;
  }
}

@media (min-width: 377px) and (max-width: 768px) {
  .footer-image {
    height: 80px;
  }
}

.footer-details {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: 20px;;
}

.footer-details a {
  align-self: flex-end;
  height: 20px;
  list-style-type: circle;
}
