:root {
  --menu-toggle-line-width: 64px;
  --menu-toggle-line-height: 5px;
  --menu-toggle-line-gap: 10px;
  --menu-toggle-bar-radius: 64px;
  --menu-toggle-height: calc(
    var(--menu-toggle-line-height) * 3 + var(--menu-toggle-line-gap) * 2
  );
  /* Definition from these two variables come from the base.html template head tag */
  /* This in order to make use of the stored colors for each view. */
  /* --menu-toggle-foreground: #000; */
  /* --menu-toggle-background: #000; */

  --nav-animation-timing: 250ms ease-in-out;
  --nav-border: 20px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
}

/* Header Navigation Menu Styles
============================================================================= */
header label {
  --x-width: calc(var(--menu-toggle-height) * 1.41421356237);
  position: absolute;
  top: 34px;
  left: var(--nav-border);
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: var(--menu-toggle-line-gap);
  z-index: 10;
  cursor: pointer;
}

header label::before, header label::after, header label input {
  content: "";
  width: var(--menu-toggle-line-width);
  height: var(--menu-toggle-line-height);
  background-color: var(--menu-toggle-foreground);
  border-radius: var(--menu-toggle-bar-radius);
  transform-origin: left center;
  transition:
    opacity var(--nav-animation-timing),
    width var(--nav-animation-timing),
    rotate var(--nav-animation-timing),
    translate var(--nav-animation-timing),
    background-color var(--nav-animation-timing);
}

header label input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

header label:has(input:checked)::before {
  background: var(--menu-toggle-foreground);
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--menu-toggle-line-height) / -2);
  background: var(--menu-toggle-background);
}

header label:has(input:checked)::after {
  background: var(--menu-toggle-foreground);
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--menu-toggle-line-height) / 2);
  background: var(--menu-toggle-background);
}

header label input:checked {
  opacity: 0;
  width: 0;
}

/*  Aside Menu and Elements
============================================================================= */
header aside {
  padding-top: calc(var(--menu-toggle-height) + var(--nav-border) + 1rem);
  padding-left: 1rem;
  height: 100vh;
  max-height: 100vh;
  width: 33vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--menu-toggle-foreground);
  translate: -100%;
  transition: translate var(--nav-animation-timing);
}

header label:has(input:checked) + aside {
  translate: 0;
}

header label:has(input:focus-visible)::after,
header label:has(input:focus-visible)::before,
header label:has(input:focus-visible) input {
  border: 1px solid var(--menu-toggle-foreground);
  box-shadow: 0 0 0 1px var(--menu-toggle-background);
}

header aside nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header aside nav li {
  background-color: var(--menu-toggle-foreground);
  color: var(--menu-toggle-background);
  font-size: 42px;
  flex-grow: 1;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

header aside nav li:nth-child(1) {
  color: #1C4036;
  background-color: #3BC2AB;
}

header aside nav li:nth-child(2) {
  color: #3BC2AB;
  background-color: #1C4036;
}

header aside nav li:nth-child(3) {
  color: #F8F6E0;
  background-color: #275950;
}

header aside nav li:nth-child(4) {
  color: #275950;
  background-color: #F8F6E0;
}


/* Header Logo and text Styles
============================================================================= */
header div {
  height: 64px;
  margin-top: var(--nav-border);
  margin-right: var(--nav-border);
  display: flex;
  align-items: center;
}

header div h2 {
  margin-right: var(--nav-border);
  line-height: var(--nav-border);
}
