header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
}

header nav {
  height: 100px;
  top: 0;
  left: 0;
}

header nav button {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  z-index: 10;
}

header nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 33vw;
  height: 100vh;
  margin-block: 0;
  display: none;
  flex-direction: column;
  font-size: 2rem;
  background-color: #00FF00;
  z-index: 9;
}

header nav ul li {
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #00FFFF;
}

.header-logo {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.header-logo h2 {
  margin-right: 20px;
}
