#map-section {
  height: 100vh;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}

#map-section h1 {
  font-size: 5rem;
  text-shadow: 3px 3px #61A1FA;
}

#map-section a {
  background-color: var(--menu-toggle-foreground);
  color: var(--menu-toggle-background);
  height: 60px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#environment-section {
  height: 100vh;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}

#places-section {
  height: 100vh;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}
