:root {
  --red: #EA455D
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--menu-toggle-background);
  color: var(--menu-toggle-foreground);
}

article {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
