.swiper-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: none;
  user-select: none;
}

.swiper-slide {
  height: 100%;
  width: 100%;
  border: none;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}
