.swiper-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: none;
  user-select: none;
}

.swiper-slide {
  height: 100%;
  width: 100%;
  border: none;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.swiper-container-description {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: none;
  user-select: none;
  position: relative;
}

.carousel-description-image {
  width: 100%;
  height: 50svh;
  object-fit: cover;
  border: none;
}

.carousel-description {
  height: 200px;
}
