.page-heading {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .page-heading {
    margin-top: 80px;
  }
}

.section-type-1 {
  margin-top: 30px;
  padding: 20px;
  width: 100%;
}

.section-type-1 h1 {
  width: 100%;
  height: 2rem;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: var(--menu-toggle-background);
}

.section-type-1-img {
  height: 300px;
  width: calc(100% - 40px);
  object-fit: cover;
  border-radius: 10px;
}

.section-type-1 a {
  background-color: #1C4036;
  color: var(--menu-toggle-background);
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px 20px 5px 20px;
}

.section-type-1 p {
  font-size: 24px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  gap: 5px;
  padding: 0 20px 0 20px;
  font-weight: bolder;
}

.navigation-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3BC2AB;;
  color: var(--menu-toggle-background);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  flex: auto;
  font-size: 20px;
}
