{% extends "base.html" %}
{% load static core_templatetags %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper/swiper-bundle.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/shared/carousel.css' %}">
{% endblock %}

{% block title %}Acerca De Mapaventura{% endblock %}

{% block content %}

  <section id="carousel-section">
    {% get_carousel "About Us" %}
  </section>

  <section class="page-heading">
    <h1>¿Qué es Mapaventura?</h1>
  </section>
  <section class="section-type-1">
    <div class="section-text-content">
      <p>Mapaventura es una iniciativa creada para fortalecer la conservación ambiental y el turismo en el Darièn Chocoano a través de mapas ilustrados e interactivos que muestran la oferta turística de la región. No solo funciona como una herramienta de orientación para visitantes, sino también como una plataforma para impulsar a los negocios locales y promover un turismo sostenible por medio de estrategias de reciclaje que puedan ser sostenibles a futuro. Queremos dar el mensaje de que el turismo no es solo un actividad de consumo, tambièn es una responsabilidad con el territorio que se visita.</p>
    </div>
    <img class="section-type-1-img" alt="Image" src="{% static 'images/Mapaventura.webp' %}"/>
  </section>
  <section class="section-type-1">
    <h1><u>Nuestra misión</u></h1>
    <div class="section-text-content">
      <p>Nuestro objetivo es brindar información clara y atractiva para que los visitantes puedan explorar la región con mayor facilidad, al mismo tiempo que se genera una estrategia de promoción turística efectiva que beneficia a la comunidad.</p>
    </div>
    <img class="section-type-1-img" alt="Image" src="{% static 'images/Ambiental.webp' %}"/>
  </section>
  <section class="section-type-1">
    <h1><u>Turismo con impacto positivo</u></h1>
    <div class="section-text-content">
      <p>El turismo en esta zona del Darién Chocoano debe ir más allá del consumo: debe ser una oportunidad para aportar al territorio. Mapaventura busca informar a los visitantes sobre la realidad local, incentivarlos a cuidar el entorno y generar iniciativas que contribuyan a la conservación del ecosistema. Por eso, parte de nuestro esfuerzo está orientado a impulsar una solución para la gestión de residuos a través de un fondo comunitario que apoye la recolección y el tratamiento adecuado de desechos en la zona.</p>
    </div>
    <img class="section-type-1-img" alt="Image" src="{% static 'images/Ambiental1.webp' %}"/>
  </section>
  <section class="section-type-1">
    <h1><u>Un proyecto que crece cada año</u></h1>
    <div class="section-text-content">
      <p>Esta es la primera edición de los mapas de Sapzurro y Capurganá, pero cada año Mapaventura seguirá evolucionando, integrando más negocios y puntos clave, fortaleciendo su presencia en redes y expandiendo su alcance a nivel nacional. En febrero de 2025, el proyecto participará en ANATO, la feria de turismo más importante de Colombia, para conectar con más operadores turísticos, agencias de viajes y aliados estratégicos que ayuden a visibilizar la riqueza de la región.</p>
    </div>
    <img class="section-type-1-img" alt="Image" src="{% static 'images/about_us_photo.webp' %}"/>
  </section>
  <section class="section-type-1">
    <h1><u>Conéctate con Mapaventura</u></h1>
    <div class="section-text-content">
      <p>Si tienes un negocio en la región y quieres hacer parte del proyecto en futuras ediciones, o si deseas colaborar con iniciativas de turismo sostenible y conservación ambiental, contáctanos.</p>
    </div>
    <div class="links-container">
      <div>
        <a class="main-button" href= "mailto:mapacapurgana@gmail.com" target="_blank">
          {% with SIZE=32 COLOR="#FFF"%}
            {% include 'svg/mail-icon.svg' %}
          {% endwith %}
          mapacapurgana@gmail.com</a>
      </div>

      <div>
        <a class="main-button" target="_blank" href="https://wa.me/+573206865023?">
          {% with SIZE=32 COLOR="#FFF"%}
            {% include 'svg/whatsapp-icon.svg' %}
          {% endwith %}
          +57 320 686 50 23
        </a>
      </div>

      <div>
        <a class="main-button" href="http://www.instagram.com/mapaventura_" target="_blank">
          {% with SIZE=32 COLOR="#FFF"%}
            {% include 'svg/instagram-icon.svg' %}
          {% endwith %}
          mapaventura_
        </a>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/swiper/swiper-bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
