{% extends "base.html" %}
{% load static core_templatetags %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper/swiper-bundle.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/shared/carousel.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

  <section id="carousel-section">
    {% get_carousel "Home" %}
  </section>

  <section id="map-section">
    <h1>Mapa Capurganá 2025 | Primera Edición</h1>
    <h2>🌿 Explora, conoce y cuida el Darién Chocoano 🌿</h2>
    <p>Este mapa no solo es una guía, es también una herramienta de conexión entre viajeros y la comunidad local. Aquí encontrarás rutas, playas, senderos, negocios y experiencias únicas que te permitirán explorar este paraíso de manera consciente.</p>
    <div class="map-image-wrapper">
      <img src="{% static 'map/map_preview.webp' %}" alt="Vista previa del mapa" class="map-image" loading="lazy">
    </div>
    <p>Toca y conoce más sobre nuestra oferta turística</p>
    <a class="main-button" href="/map">Explora el Mapa Interactivo</a>
  </section>

  <section id="environment-section">
    <h2>Seccion Ambiental</h2>
    <div class="image-wrapper">
      <img src="{% static 'images/Ambiental.webp' %}" alt="Environment Image" class="map-image" loading="lazy">
    </div>
    <p>Sapzurro y Capurganá son joyas naturales que necesitan ser protegidas. Aquí te contamos cómo puedes ayudar a conservar este territorio y aportar a su sostenibilidad.</p>
    <br/>
    <p>Cada visitante deja una huella en este territorio. Respeta la naturaleza, minimiza tu impacto y únete a quienes buscan conservar este paraíso.</p>
    <p>En la región no contamos con una estrategia efectiva para el manejo de residuos. Por ello, hemos iniciado esta campaña para financiar una solución ambiental.</p>
    <br/>
    <p>Disfrutar de este paraíso, también es tu deber ayudar a protegerlo.</p>
    <a class="main-button" target="_blank" href="https://vaki.co/es/vaki/darien-verdeazul1?utm_source=copy&utm_medium=vaki-page&utm_campaign=v4">
      <img alt="Vaki Icon" width="48" heigth="48" src="{% static 'images/vaki-icon.gif' %}"/>
      Quiero contribuir!</a>
  </section>

  <section class="places-title-section">
    <h2>Lugares Imperdibles</h2>
    <p>📸 Explora los rincones más especiales de la región</p>
    <p>Descubre playas, senderos, miradores y otros lugares que hacen de Sapzurro y Capurganá destinos únicos.</p>
  </section>

  <section id="places-section">
    {% get_carousel "Lugares Imperdibles" %}
    <p>¿Listx para descubrir Capurganá?</p>
    <p>Usa el mapa, planifica tu aventura y conéctate con lo mejor de la región.</p>
  </section>

  <section>
    <a class="main-button" href="/map">Explora el Mapa Interactivo</a>
    <br/>
  </section>

{% endblock %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/swiper/swiper-bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/service-worker.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/register-sw.js' %}"></script>
{% endblock %}
