{% extends "base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block title %}Mapa{% endblock %}

{% block content %}

  <modal id="info" class="map-popup">
    <div class="map-popup-container">
      <div class="close-button">
        {% with SIZE=32 %}
          {% include "svg/close.svg" %}
        {% endwith %}
      </div>

      <div class="map-popup-icon">
        {% with SIZE=64 %}
          {% include "svg/information-button.svg" %}
        {% endwith %}
      </div>

      <div class="map-popup-container-content-top-left">
        <p>Acerca el mapa así</p>
        <img class="action-icon" alt="Zoom Gif" src="{% static 'images/zoom.gif' %}"/>
      </div>
      <div class="map-popup-container-content-bottom">
        <p>Mueve el mapa arrastrando</p>
        <img class="action-icon" alt="Slide Gif" src="{% static 'images/slide.gif' %}"/>
      </div>
      <div class="map-popup-container-content-top-right">
        <p>Toca o dale click a una ubicacion para ver sus detalles</p>
        <img class="action-icon" alt="Click Gif" src="{% static 'images/click.gif' %}"/>
      </div>
    </div>
  </modal>

  <modal id="legend" class="legend-box hidden">
    <div class="map-popup-container">

      <div class="map-popup-icon">
        {% with SIZE=64 %}
          {% include "svg/contact-book.svg" %}
        {% endwith %}
      </div>

      <div class="legend-title">
        <h1>Ubicaciónes</h1>
      </div>

      <div class="legend-text">
        <p>El turismo no es solo una  actividad de consumo.</p>
        <p>Viajar implica una responsabilidad con este territorio al que vienes.</p>
        <p>Lleva tu basura, dona a una estrategia ambiental para la región escaneando el QR de Darien Verde Azul. Deja cada lugar mejor de como lo encontraste.</p>
      </div>
      <div class="landmarks">
        <h1><strong>Principales puntos de interes</strong></h1>
        <div class="landmark-item">
          <img
            src="/media/map_logos/logos/JAC_Logo.jpg"
            class="map-marker-0"
            style="width: 64px; height: 64px;">
          <p style="color: rgb(0, 0, 0);">Junta de Acción Comunal Sapzurro</p>
        </div>
      </div>
      <hr/>
      <ul id="legend-list"></ul>
    </div>
  </modal>

  <section style="position: relative; padding: 0;">
    <img id="map-background" alt="Map Background" src="{% static 'map/background.webp' %}"/>
    <div id="map"></div>
    {% if user.is_staff %}
      <div style="display: flex; justify-content: center; width: 100%; position: absolute; top: 60px;">
        <button id="save-btn" class="main-button" style="z-index: 1000;">
          GUARDAR UBICACIONES
        </button>
      </div>
    {% endif %}
    <div class="custom-control-container">
      <a id="legend-toggle" class="toggle">
        {% with SIZE=64 %}
          {% include "svg/contact-book.svg" %}
        {% endwith %}
      </a>
      <a id="info-toggle" class="toggle">
        {% with SIZE=64 %}
          {% include "svg/information-button.svg" %}
        {% endwith %}
      </a>
    </div>
  </section>

  <section style="display: none;">
    {% with SIZE=32 %}
      {% include 'svg/facebook-icon.svg' %}
      {% include 'svg/instagram-icon.svg' %}
      {% include 'svg/mail-icon.svg' %}
      {% include 'svg/website-icon.svg' %}
      {% include 'svg/whatsapp-icon.svg' %}
    {% endwith %}
  </section>
{% endblock %}

{% block script %}
  <script>
  let DRAGABLE_MAP_MARKERS = {{ user.is_staff|yesno:"true,false" }};
  </script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="{% static "js/map/setup.js" %}"></script>

  <!-- Information Modal Popup Handle -->
  <script>
  document.querySelector(".close-button").addEventListener('click', () => {
    const modal = document.querySelector(".map-popup");
    modal.classList.toggle("hidden");
  });
  </script>

  {% if user.is_staff %}
    <script>
    document.getElementById('save-btn').addEventListener('click', () => {
      const updated = markers.map(marker => {
        const pos = marker.marker.getLatLng();
        return {
          id: marker.locationId,
          y: pos.lat,
          x: pos.lng
        };
      });

      fetch("{% url 'bulk_update_locations' %}", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ locations: updated })
      })
        .then(res => res.json())
        .then(data => {
          if (data.status === 'success') {
            alert("Changes saved!");
          } else {
            alert("Failed: " + data.message);
          }
        })
        .catch(err => alert("Error: " + err));
    });
    </script>
  {% endif %}

{% endblock %}
